body {
  background-color:darkgrey;
  overflow: hidden;
}

.conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
  margin: 0; 
}

.dados {
  display: grid;
}

#profile {
  text-align: center;
  align-items: center;
  justify-content: center;
}